@model PracticeMVC.Models.Customer_Attribute

@{
    ViewData["Title"] = "Edit";
}
<div class="listSetting">
    <h1 class="titleSetting"><i class=" iconsetting fas fa-cog"></i>Customer Setting</h1>
    <div class="itemlistsettings">
        <div class="itemlistsetting">
            <div class="row">
                <div class="listAttribute">
                    <div style="margin-left: 100px;">
    <div class="col-md-4",style="margin-left: 40px; margin-right: 10px">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Attribute_Id" />
            <div class="form-group">
                <label asp-for="Attribute_Value_Code" class="control-label"></label>
                <input asp-for="Attribute_Value_Code" class="form-control" />
                <span asp-validation-for="Attribute_Value_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attribute_Master" class="control-label"></label>
                <input asp-for="Attribute_Master" class="form-control" />
                <span asp-validation-for="Attribute_Master" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Short_Name" class="control-label"></label>
                <input asp-for="Short_Name" class="form-control" />
                <span asp-validation-for="Short_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parent" class="control-label"></label>
                <input asp-for="Parent" class="form-control" />
                <span asp-validation-for="Parent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Effective_Date" class="control-label"></label>
                <input asp-for="Effective_Date" class="form-control" />
                <span asp-validation-for="Effective_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valid_Until" class="control-label"></label>
                <input asp-for="Valid_Until" class="form-control" />
                <span asp-validation-for="Valid_Until" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-left: 50px; margin-right: 10px">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
                </div>
            </div>
        </div>
    </div>
</div>        
            


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
